* {
    box-sizing: border-box;
}

.Form {
    width: 50%;
    min-width: 400px;
    padding: 1rem;
    border: 2px solid #000;
    margin: 100px auto;
    &-Group {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            width: 100%;
            padding: 1rem;
            border-radius: 6px;
            font-size: 20px;
            flex-grow: 1;
        }
    }
}